<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User Menu</title>
</head>
<body>
<h1>Welcome to the User Menu</h1>
<p>You are logged in!</p>

<ul>
    <li>
        <button type="button" onclick="window.location.href='@{/protected-data}'">Access Data</button>
    </li>
    <li>
        <button type="button" onclick="window.location.href='@{/manage-cards}'">Manage Cards</button>
    </li>
    <li>
        <button type="button" onclick="window.location.href='@{/payment}'">Payment</button>
    </li>
    <li>
        <button type="button" onclick="window.location.href='@{/transfer}'">Transfer</button>
    </li>
    <li>
        <button type="button" onclick="window.location.href='@{/logout}'">Logout</button>
    </li>
</ul>

</body>
</html>
