<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User Menu</title>
</head>
<body>
<h1>Welcome to the User Menu</h1>
<p>You are logged in!</p>

<ul>
    <li>
        <form th:action="@{/user/get-data}" method="get">
            <button type="submit">View Data</button>
        </form>
    </li>
    <li>
        <form th:action="@{/user/manage-cards}" method="get">
            <button type="submit">Manage Credit Cards</button>
        </form>
    </li>
    <li>
        <form th:action="@{/pay}" method="get">
            <button type="submit">Payment</button>
        </form>
    </li>
    <li>
        <button type="button" onclick="window.location.href='@{/transfer}'">Transfer</button>
    </li>
    <li>
        <button type="button" onclick="window.location.href='@{/logout}'">Logout</button>
    </li>
</ul>

</body>
</html>
